body{
    margin: 1px;
    margin-right: 0px;
    background-image: url(/images/5f32b04c6cf01bae43cb011fbc096fd1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
@media screen and (max-width:600px){
    aside,section,article,div,video{
        width:100%
    }
}
@media handheld, screen and (max-width: 320px){
    .yourElementClassOrId {
        width:100%;  
    }
} 

@media handheld, screen and (max-width: 720px){
    .yourElementClassOrId {
        width:100%;  
    }
}  
@media handheld, screen and (max-width: 620px){
    .yourElementClassOrId {
        width:100%;  
    }
}
*::selection{
    color: rgb(212, 0, 255);
    background-color: rgb(0, 0, 0);
}
*{
    box-sizing: border-box;
}
.autoRotate{
    animation: autoRotateAnimation;
    animation-timeline: view(auto auto);
}
@keyframes autoRotateAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.autoShow{
    animation:autoShowAnimation both;
    animation-timeline: view(70% 5%);
}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);

    }
}
.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}
@keyframes autoBlurAnimation{
    0%{
        filter: blur(40px);
    }
    35%, 75%, 85%{
        filter: blur(0px);
    }
    90%, 100%{
        filter: blur(40px);
    }
}

#ad1{
    right: 5px;
    bottom: 5px;
    height: 50px;
    position: fixed;
}
#ad1:active+img{
    display: block;
}
#ad2{
    left: 37%;
    bottom: 25%;
    width: 500px;
    position: fixed;
    display: none;
}


.icons{
    text-align: center;
    margin-bottom: 0px;
}
header{
    background-color: crimson;
}
header h1{
    text-align: center;
}
.odd{
    color: black;
    text-decoration: none;
}
.even{
    color: white;
    text-decoration: none;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(255, 0, 0);
    padding: 0px;
    margin: auto;
    margin-left: 35%;
    overflow: hidden;
    display: inline-block;
    border: 3px double rgb(255, 255, 255);
}
.navbar a{
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin: 0px;
}
.navbar a:hover{
    background-color: rgb(168, 0, 0);
    border: 3px dotted rgb(0, 0, 0);
}
.navbar li{
    float: left;
}


.hA{
    text-align: center;
}
.hA::first-letter{
    font-size: 2em;
    font-style: italic;
}
.hA:hover:nth-child(even){
    background-color: #000000;
    border: 2px dotted rgb(251, 255, 22);
}
.hA:hover:nth-child(odd){
    background-color: #ffffff;
    border: 2px dotted rgb(251, 255, 22);
}
#h21{
     color: blueviolet; 
}
#h31{
     color: rgb(252, 214, 3);
}
#h41{
     color: blue;
}
#h51{
     color: #fa3e05;
}
#h61{
     color: forestgreen;
}

.box{
    border: 10px double rgb(53, 53, 54);
    width: 100px;
    height: 100px;
}
.shdBOX{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 5px, -3px -3px 5px;
    margin: auto;
    margin-top: 20px;
    transform: rotateZ(45deg);
}
#box1{
    background-color: rgb(100, 255, 95);
    margin: auto;
    margin-left: 50%;
    box-shadow: -100px 0px rgb(248, 73, 73);
    animation-name: move1;
    animation-duration: 12s;
}
#box2{
    background-color: rgb(66, 109, 252);
    margin:auto;
    margin-right: 50%;
    box-shadow: 100px 0px rgb(236, 248, 59);
    animation-name: move2;
    animation-duration: 12s;
}
#shd1{
    font-size: 50px;
    font-family: Oswald;
    text-shadow: 3px 3px 4px rgb(204, 0, 255), -3px -3px 4px rgb(252, 214, 3);
    margin-top: 5px;
    margin-bottom: 5px;
}
#shd2:hover{
    animation-name: chgclr;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes move1{
    from{transform: translateX(1000%);}
}
@keyframes move2{
    from{transform: translateX(-1000%);}
}
@keyframes rotate{
    from{transform: rotateZ(360deg);}
}
@keyframes chgclr{
    8.3%{background-color: rgb(255, 0, 0);}
    16.63%{background-color: rgb(255, 115, 0);}
    24.93%{background-color: rgb(255, 217, 0);}
    33.23%{background-color: rgb(123, 255, 0);}
    41.53%{background-color: rgb(0, 255, 136);}
    49.83%{background-color: rgb(0, 225, 255);}
    58.13%{background-color: rgb(0, 102, 255);}
    66.43%{background-color: rgb(38, 0, 255);}
    74.73%{background-color: rgb(132, 0, 255);}
    83.03%{background-color: rgb(212, 0, 255);}
    91.33%{background-color: rgb(255, 0, 212);}
    100%{background-color: rgb(255, 0, 98);}
}


@font-face{
    src: url(/fonts/Honk.ttf);
    font-family: Honk;
}
.pA{
    text-align: center;
    font-size: 14px;
}
#p1{
    font-family: 'Times New Roman', Times, serif, arial;
}
#p2{
    font-family: Verdana;
}
#p3{
    font-family: "lucida console";
    font-weight: bold;
}
#p4{
    font-family: "courier new";
    font-weight: bolder;
}
#p5{
    font-family: impact;
    font-style: italic;
}
#p6{
    font-family: Oswald;
}
#p7{
    font-family: Honk;
    text-align: center;
    font-size: 3em;
}

#brd1{
    border: 5px double rgb(255, 255, 255);
    border-radius: 10px;
}
#brd2{
    border-bottom: 2px solid rgb(255, 0, 0);
}
#brd3{
    border-bottom: 2px solid rgb(255, 166, 0);
}
#brd4{
    border-bottom: 2px solid rgb(0, 255, 13);
}
#brd5{
    border-bottom: 2px solid rgb(0, 255, 255);
}
#brd6{
    border-bottom: 2px solid rgb(17, 0, 255);
}
#brd7{
    border-bottom: 2px solid rgb(183, 0, 255);
}
#brd8{
    border-bottom: 4px dotted rgb(0, 153, 255);
    border-top: 4px dotted rgb(255, 0, 170);
    border-left: 4px dotted rgb(217, 255, 0);
    border-right: 4px dotted rgb(0, 255, 34);
    border-radius: 20px;
}


#url1{
    font-size: 40px;
    font-family: Honk;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dotted rgb(248, 73, 73);
    text-decoration: none;
}


#img1{
    float: left;
    margin-left: 10px;
}
#gif1{
    float: right;
    margin-right: 10px;
}
#vid1{
    float: left;
    margin-left: 10px;
}
#aud1{
    float: left;
    margin-left: 10px;
}
#flow1{
    border: 3px solid rgb(210, 62, 255);
    border-radius: 5px;
    display: flow-root;
}

#container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1em;
}
.disp{
    margin-left: auto;
    margin-right: auto;
    height: 230px;
    width: 16,667%;
    border-radius: 20px;
    display: inline-block;
    text-align: justify;
    padding: 8px;
}
#ofl1{
    border: 2px dotted rgb(255, 0, 0);
    overflow: scroll;
    margin: auto;
}

#disp1{
    border: 2px dotted rgb(255, 136, 0);
    overflow: auto;
}
#unli li::marker{
    content: "♾️";
}
#milk::after{
    content: "🥛";
}
#smth::after{
    content: "🎱";
}
#stars::after{
    content: "✨";
}
#wht::after{
    content: "❔";
}
#yel::after{
    content: "🟡";
}
#nic::after{
    content: "👍";
}

#disp2{
    border: 2px dotted rgb(255, 251, 0);
    overflow: auto;
}
#thing::after{
    content: "🏐";
}
#watcher::after{
    content: "🚹";
}
#Nsmth::after{
    content: "👁️‍🗨️";
}

#disp3{
    border: 2px dotted rgb(21, 255, 0);
    overflow: auto;
}
#wtr::after{
    content: "💧";
}

#disp4{
    border: 2px dotted rgb(0, 255, 255);
    overflow: auto;
}
#disp5{
    border: 2px dotted rgb(17, 0, 255);
    overflow: auto;
}



#comb{
    border: 9px double rgb(0, 0, 0);
    border-radius: 2px;
    height: 350px;
    width: 350px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}
#comb p{
    background-color: crimson;
    color: black;
    text-align: center;
    display: inline-block;
    width: 100px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
}

.gallery{
    display: inline-block;
    border: 1px solid rgb(58, 57, 57);
    width: 350px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    color: rgb(255, 225, 52);
}
.gallery:hover{
    border: 1px solid rgb(255, 232, 22);
}
.gallery img{
    width: 100%;
}


.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown button{
    background-color: blueviolet;
    border-radius: 5px;
    width: 175px;
    height: 100px;
    font-size: 50px;
    margin: auto;
    padding: 5px 10px;
    text-align: center;
    font-family: Honk;
    text-decoration: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
}
.dropdown .content{
    position: absolute;
    background-color: rgb(159, 228, 255);
    min-width: 100px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.459);
    display: none;
}
#but1:active{
    background-color: rgb(255, 0, 0);
    color: #000000;
    border-radius: 5px;
    font-size: 50px;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: rgb(216, 53, 194);
    color: #4b4b4b;
    border-radius: 5px;
    font-size: 50px;
}
.dropdown a:hover{
    background-color: rgb(255, 252, 72);
}

.banner{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.banner .product{
   /* background-color: rgb(0, 102, 255);*/
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: 0.7s;
    --left: 0px;
    display: flex;
}
.banner .product .soda{
    background:  var(--url) var(--left) 0, url(/images/soda\ mockup.png);
    background-size: auto 100%;
    width: 280px;
    aspect-ratio: 2/4;
    background-blend-mode: multiply;
    mask-image: url(/images/soda\ mockup.png);
    mask-size: auto 100%;
    transition: 3s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.banner .product:hover{
    --left: -900px;
    transform: translateX(-50%) translateY(-120px);
}
.banner .rock{
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;
    width: 100%;
}
.banner .rock img{
    position: absolute;
    transition: 0.7s;
}
.banner .rock img:nth-child(1){
    height: 170px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    z-index: 1;
}
.banner:has(.product:hover) .rock img:nth-child(1){
    transform: translateX(-50%) translateY(50px);
}
.banner .rock img:nth-child(2){
    height: 50%;
    left: 0;
    bottom: 0;
}
.banner:has(.product:hover) .rock img:nth-child(2){
    transform: translateX(-100px) translateY(100px);
}
.banner .rock img:nth-child(3){
    height: 100%;
    right: 0;
    bottom: -100px;
    rotate: -25deg;
}
.banner:has(.product:hover) .rock img:nth-child(3){
    transform: translateX(100px) translateY(100px);
}
.banner .product .soda:nth-child(2){
    opacity: 0;
}
.banner .product:hover .soda:nth-child(2){
    opacity: 1;
}



.Mslider{
    height: 100vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.Mslider .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-17deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-17deg) rotateY(360deg);
    }
}
.Mslider .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
     translateZ(550px);
}
.Mslider .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Mslider .SLIDcontent{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.Mslider .SLIDcontent h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16em;
    line-height: 1em;
    position: relative;
    color: rgb(174, 0, 255);
}
.Mslider .SLIDcontent h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #00aeff;
    color: transparent;
}
.Mslider .SLIDcontent .SLIDmodel{
    background-image: url(/images/sEnemy.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}


.NSLID_body{
    margin: auto;
}
.Nslider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #fbff00 10% 90%,
        transparent
    );
}
.Nslider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
    margin-bottom: 500px;
}
.Nslider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun2 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) )!important;
}
@keyframes autoRun2{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.Nslider .list .item img{
    width: 100%;
}
.Nslider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.Nslider .item:hover{
    filter: grayscale(0);
}
.Nslider[reverse="true"] .item{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}




.pagination{
    text-align: center;
}
.pagination a{
    color: #000000;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: rgb(204, 0, 255);
    font-weight: 600;
    border: 2px solid;
    border-radius: 20px;
}
.pagination a:hover:not(.active){
    background-color: rgb(87, 87, 87);
    border-radius: 20px;
}
